---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';

import {cn} from "@/lib/utils.ts";
import { buttonVariants } from "@/components/ui/button"
import { Icons } from '@/components/Icons';

// const response = await fetch('http://localhost:8080/');
// const data = await response.json();
---

<Layout title="Welcome to Astro.">
	<main class="" >
		 {/* Hero */}
		 <section class="pb-8 pt-6 md:pb-12 md:pt-10 lg:py-32 ">
			<div class="container flex flex-col items-center gap-6 max-w-7xl">
				<a href="/templates" class="flex items-center gap-2 bg-secondary rounded-lg px-4 py-2">Checkout new starter templates. <Icons.arrowRight className="w-4 h-4"/></a>
			  <h1 class="font-heading  text-3xl sm:text-5xl md:text-6xl lg:text-7xl dark:text-white text-center">
				Code Repo: Exploring Web Technologies and Documentation
			  </h1>
			  <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-center">
				A Comprehensive Repository of Web Technology Examples and
				Documentation for Developers
			  </p>
			  <div class="space-x-4">
				<a
				  href="/templates"
				  class={cn(buttonVariants({ size: "lg" }))}
				>
				  Templates
				</a>
				<a
				  href="#"
				  target="_blank"
				  rel="noreferrer"
				  class={cn(buttonVariants({ variant: "outline", size: "lg" }))}
				>
				  GitHub
				</a>
			  	</div>
			</div>
		</section>

		<!-- {/* Features */}
		<section class="container">
			<div class="bg-primary p-20 rounded-lg"></div>
		</section> -->
	</main>
</Layout>