---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';

import {cn} from "@/lib/utils.ts";
import { buttonVariants } from "@/components/ui/button"

// const response = await fetch('http://localhost:8080/');
// const data = await response.json();
---

<Layout title="Welcome to Astro.">
	<main class="">
		 <section class="pb-8 pt-6 md:pb-12 md:pt-10 lg:py-16">
			<hgroup class="container flex flex-col items-center gap-6 max-w-7xl">
			  <h1 class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden">
				<span class="
					  bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
					  from-primary to-primary dark:from-primary dark:to-primary
				  ">
				  Curated Resources to Supercharge Your Web Development Journey
				</span>
			  </h1>
			  <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-center">
				Unlocking a Treasure Trove of Tools, Tutorials, and References for Seamless Web Development Success
			  </p>
			</hgroup>
		</section>
	</main>
</Layout>