---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';

import {cn} from "@/lib/utils.ts";
import { buttonVariants } from "@/components/ui/button"

// const response = await fetch('http://localhost:8080/');
// const data = await response.json();
---

<Layout title="Welcome to Astro.">
	<main class="container">
		 <h1>Resources</h1>
	</main>
</Layout>