---
import { cn } from "@/lib/utils";

import { buttonVariants } from "@/components/ui/button";
import { Icons } from "@/components/Icons";
---

<header class="sticky top-0 py-4 bg-background/75 backdrop-blur-2xl border-b border-muted">
    <nav class="container flex justify-between items-center">
        <div class="flex items-center gap-6">
            <div class="mr-6">
                <a href="/" class="text-text-heading text-2xl font-bold">
                    <span class="
                    bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
                    from-primary to-primary dark:from-primary dark:to-primary">
                        Code Repo
                    </span>
                </a>
            </div>
            <!-- <a  href="/examples" class="text-foreground  text-md  animated-link">Examples</a> -->
            <a  href="/templates" class="text-foreground  text-md animated-link">Templates</a>
            <a  href="/guides" class="text-foreground  text-md animated-link">Guides</a>
            <a  href="/resources" class="text-foreground  text-md animated-link">Resources</a>
            <a  href="/playground" class="text-foreground  text-md animated-link">Playground</a>
        </div>

        <div class="flex items-center gap-3">
            <a href="https://github.com/AntonioObra/coderepo" target="_blank" class={cn(buttonVariants({size: "sm", variant: "ghost" }), "gap-2 text-muted-foreground font-bold")}><Icons.github className="w-4 h-4" /> 7</a>
            <a href="/signin" class={cn(buttonVariants({size: "sm" }), "font-bold")}>Sign in</a>
        </div>
    </nav>
</header>